@page
@model ChatFileApp.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="text-2xl/9 mt-10 text-center font-bold tracking-tight text-white">Register your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm mb-4"></div>

            <div>
                <label for="Input_Email" class="text-sm/6 block font-medium text-white">Email address</label>
                <div class="mt-2">
                    <input asp-for="Input.Email" id="Input_Email" type="email"
                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900" />
                    <span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
                </div>
            </div>

            <div>
                <label for="Input_Password" class="text-sm/6 mt-6 block font-medium text-white">Password</label>
                <div class="mt-2">
                    <input asp-for="Input.Password" id="Input_Password" type="password"
                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900" />
                    <span asp-validation-for="Input.Password" class="text-red-500 text-sm"></span>
                </div>
            </div>

            <div>
                <label for="Input_ConfirmPassword" class="text-sm/6 mt-6 block font-medium text-white">Confirm Password</label>
                <div class="mt-2">
                    <input asp-for="Input.ConfirmPassword" id="Input_ConfirmPassword" type="password"
                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-red-500 text-sm"></span>
                </div>
            </div>

            <div>
                <button type="submit"
                        class="text-sm/6 mt-10 shadow-xs flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 font-semibold text-white hover:bg-indigo-500">
                    Register
                </button>
            </div>
        </form>

        <p class="text-sm/6 mt-10 text-center text-gray-500">
            <a href="/account/login" class="font-semibold">Login</a>
        </p>
    </div>
</div>