<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="css/app.min.css" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="bg-[#1d1f2b]">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
<script src="lib/js/scroll.js"></script>
</html>
