@page "/whiteboard"
@model WhiteboardPlugin.Pages.WhiteboardPageModel
@{
    Layout = null; /* Or use your app's default layout if you prefer */
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Whiteboard Plugin</title>
    <link rel="stylesheet" href="/plugins/whiteboard-plugin/css/plugin-styles.css">
</head>
<body>
<h1>Whiteboard Page</h1>
<div id="whiteboardContainer">
    <!-- Whiteboard plugin content goes here -->
</div>

<script src="/plugins/whiteboard-plugin/js/whiteboard.js"></script>
</body>
</html>