@page "/"
@rendermode InteractiveServer
@using ChatApp.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@using ChatApp.Components.Chat

<div class="chat-container">
    <div class="messages">
        @foreach (var message in messages)
        {
            <ChatMessage Username="@message.User" Message="@message.Text" Timestamp="@message.Timestamp"/>
        }
    </div>

    <div class="flex gap-6">
        <input @bind="messageInput" @bind:event="oninput" @onkeypress="HandleKeyPress" type="text"
               placeholder="Nachricht an xxx"
               class="block  mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"/>
        <button @onclick="SendMessage"
                class="block mt-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg px-5 py-2.5 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
            Senden
        </button>
    </div>
</div>

@code {
    private HubConnection? hubConnection;
    private List<ChatApp.Models.ChatMessage> messages = new List<ChatApp.Models.ChatMessage>();
    private string messageInput = string.Empty;
    private string userName = "User";

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.Closed += async (error) =>
        {
            Console.WriteLine("Hub connection closed.");
            if (error != null)
            {
                Console.WriteLine("Error: " + error.Message);
            }

            await Task.Delay(1000);
            await hubConnection.StartAsync();
        };

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            messages.Add(new Models.ChatMessage { User = user, Text = message, Timestamp = DateTime.Now });
            InvokeAsync(StateHasChanged);
        });

        try
        {
            await hubConnection.StartAsync();
            Console.WriteLine("Hub connection started. State: " + hubConnection.State);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error starting hub connection: " + ex.Message);
        }
    }

    // Send message to the server
    private async Task SendMessage()
    {
        if (hubConnection is not null && hubConnection.State == HubConnectionState.Connected && !string.IsNullOrWhiteSpace(messageInput))
        {
            await hubConnection.SendAsync("SendMessage", userName, messageInput);
            messageInput = string.Empty;
        }
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}
