<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ChatFileApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ChatFileApp.styles.css" asp-append-version="true"/>
</head>
<body class="bg-[#1d1f2b]">
<header>
    <nav class="">

    </nav>
</header>
<main role="main">
    @RenderBody()
</main>

<footer class="">
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>