@page
@using ChatFileApp.Components.Chat
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="flex">
    <component type="typeof(ChatContacts)"
               render-mode="Static"
               />
    <aside class="m-8">

    </aside>
</div>
