<div class="flex items-start gap-2.5">
    <img class="w-8 h-8 rounded-full" src="https://placehold.co/600x600" alt="Profile Picture"/>
    <div class=" flex
         flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl
         dark:bg-[#252837]">
        <div class="flex items-center space-x-2 rtl:space-x-reverse">
            <span class="text-sm font-semibold text-gray-900 dark:text-white">@Username</span>
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">@Timestamp.ToString("HH:mm")</span>
        </div>
        <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">@Message</p>
        <!-- <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span> -->
    </div>
</div>

@code {
    [Parameter, EditorRequired] public string Username { get; set; }

    [Parameter, EditorRequired] public string Message { get; set; }

    [Parameter, EditorRequired] public DateTime Timestamp { get; set; } = DateTime.Now;

    [Parameter, EditorRequired] public EventCallback OnDelete { get; set; }

    private async Task DeleteMessage()
    {
        if (OnDelete.HasDelegate)
        {
            await OnDelete.InvokeAsync();
        }
    }
}